.array-contain {
    /*
    This element class is sets the position of the bar graph displayed on the page.
    :param: None
    :returns: None
    */
    position: absolute;
    left: 50px;
}

.array-bar {
    /*
    This element class is used to set the size, color, 
    and spacing of each bar inside the bar graph.
    :param: None
    :returns: None
    */
    width: 5.4px;
    background-color: blueviolet;
    display: inline-block;
    margin: 0 1px;
}

.stop-watch {
    position: absolute;
    width: 300px;
    border: 15px solid rgb(255, 255, 255);
    padding: 50px;
    margin: 20px;
    top: -300px;
    right: 50px;
}

.timer {
    position: relative;
}