#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.top-bar {
  position: absolute;
  top: 0;
  left: 0;
}
.top-bar {
  position: absolute;
  top: 0;
  left: 0;
}

.barCont{
  box-shadow:3px 3px 2px #8700bd;
  width: 1920px;
  height: 100px;
}

.barCont span{
  display: inline-block;
  min-height: 15px;
}